#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.btn-edit {
  color: orange;
  border: none;
  width: 50px;
  outline: none;
  background: transparent;

  &:hover {
    background-color: transparent !important;
    color: coral !important;
  }
}

.btn-delete {
  color: brown;
  border: none;
  width: 50px;
  outline: none;
  background: transparent;

  &:hover {
    background-color: transparent !important;
    color: crimson !important;
  }
}

.modal-user-container {
  .modal-content {
    .modal-header {
      button {
        background-color: transparent !important;
        color: white;
        border: none;
        font-size: 27px;
      }
    }
  }

  // .modal-user-body {
  //   display: flex;
  //   gap: 10px;
  //   flex-wrap: wrap;
  //   .input-container {
  //     display: flex;
  //     flex-direction: column;
  //     width: 49%;
  //     &.address {
  //       width: 100% !important;
  //     }
  //   }
  //   input {
  //     border-radius: 3px;
  //     height: 30px;
  //     border: grey 1px solid;
  //     outline: none;
  //     padding: 0 10px;
  //   }
  // }
}
